body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f2f1; /* Изумрудно-зеленый цвет */
}

#app {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #4caf50; /* Изумрудно-зеленый цвет */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.columns {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    padding: 10px;
    background-color: #81c784; /* Изумрудно-зеленый цвет */
    border-radius: 5px;
    margin: 10px;
}

.form-container {
    margin-top: 20px;
}

form {
    background-color: #81c784; /* Изумрудно-зеленый цвет */
    padding: 20px;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #4caf50; /* Темно-зеленый цвет */
    border-radius: 5px;
    margin-top: 5px;
}

button {
    background-color: #4caf50; /* Темно-зеленый цвет */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Темно-зеленый цвет при наведении */
}
