<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Mini Site</title>
</head>
<body>
<div id="app">
    <div class="columns">
        <div class="column" id="todo">
            <h2>To Do</h2>
            <div v-for="(note, index) in firstColumn" :key="index" class="note-card">
                <h4>{{note.event}}</h4>
                <ul>
                    <li v-for="(task, taskIndex) in note.taskName" :key="taskIndex">
                        <input type="checkbox" v-model="task.completed"> {{ task.text }}
                    </li>
                </ul>
                <button @click="deleteNote(index)" class="delete-button">Delete Note</button>
            </div>
            <div v-if="firstColumn.length === 0">
                There are no notes yet
            </div>
        </div>
        <div class="column" id="inProgress">
            <h2>In Progress</h2>
        </div>
        <div class="column" id="done">
            <h2>Done</h2>
        </div>
    </div>

    <div class="form-container">
        <form>
            <h3>Create a Note</h3>
            <div class="form-group">
                <label for="eventName">Event Name:</label>
                <input type="text" v-model="note.eventName" id="eventName">
            </div>
            <div class="form-group" v-for="(task, taskIndex) in note.taskName" :key="taskIndex">
                <label :for="'taskName' + taskIndex">Task {{ taskIndex + 1 }}:</label>
                <input type="text" v-model="task.text" :id="'taskName' + taskIndex">
            </div>
            <p>{{error}}</p>
            <button @click="addNote" type="button">Create</button>
            <button @click="addTaskRow" :disabled="note.taskName.length >= 5" type="button">Add Task Row</button>
            <div v-if="note.taskName.length >= 5">
                You can add only 5 tasks

            </div>
        </form>
    </div>

</div>

<script src="js/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>
